.cursor {
  position: fixed;
  top: 0px;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #eeeeee;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-out;
  mix-blend-mode: difference;
}

.grow .circle {
  width: 16px;
  height: 16px;
}
