.cursor {
  position: fixed;
  top: 0px;
  left: 0;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  /* background-color: #dd2525; */
  display: flex; /* Add display property */
  justify-content: center; /* Add justify-content property */
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.15s ease-out;
  mix-blend-mode: difference;
}

.grow .circle {
  width: 16px;
  height: 16px;
}
