.container {
    width: 210px;
    height: 400px;
    display: flex;
    gap: 5px;
}

.container .menuItem {
  height: 100%;
  flex: 1;
  max-width: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .menuItem:hover {
  flex: 4;
  max-width: 134px;
}

.container .menuItem .menuText {
  min-width: 14em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.container .menuItem:hover .menuText {
  transform: rotate(0);
}
