.mainContainer {
  /* padding: 12em 2em 4em 2em; */
  display: flex;
}
.contact-page {
  width: 100%;
  height: 100%;
}

.contact-page .container {
  width: 100%;
  height: 100%;
  display: flex;
}

.contact-page .mainContainer .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: flex-end; */
  gap: 6em;
}

.contact-page .mainContainer .col:nth-child(1) {
  flex: 1;
}

.contact-page .mainContainer .col:nth-child(2) {
  flex: 1.2;
}

.contact-page .title {
  margin-bottom: 1em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact-page .item {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact-page .item p,
.contact-page .item p a {
  font-size: 24px;
  color: var(--text);
}

.contact-header {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.contact-header h1 {
  position: relative;
  transform: translateY(64px);
  will-change: transform;
}

.contact-page .item p {
  position: relative;
  transform: translateY(28px);
  will-change: transform;
}

.contact-page .title p {
  position: relative;
  transform: translateY(24px);
  font-size: 20px;
  will-change: transform;
}

@media (max-width: 900px) {
  .contact-page {
    height: 100%;
  }

  .contact-page .mainContainer {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.contact-page .mainContainer .col {
  gap: 40px;
}

   /* .container {
    flex-direction: column-reverse;
    gap: 0em;
  } */

  .contact-page .item p,
  .contact-page .title p,
  .contact-page .item p a {
    /* font-size: 16px; */
  }
}
