
/* loader  */

.wrapper {
    position: fixed;
    width: 100%;
    /* height: 100vh; */
    z-index: 2;
    left: 0;

  }
  
  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 10%; */
    /* height: 20vh; */
    /* background: #fff; */
    z-index: 2;
  }


/* 


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 2vw;
}

.overlay {
    width: 100%;
    height: 100vh;
}

.block {
    position: fixed;
    width: 5%;
    height: 100vh;
    background: #86FF73;
}

.block-1 {
    left: 0;
}

.block-2 {
    left: 5%;
}

.block-3 {
    left: 10%;
}

.block-4 {
    left: 15%;
}

.block-5 {
    left: 20%;
}

.block-6 {
    left: 25%;
}

.block-7 {
    left: 30%;
}

.block-8 {
    left: 35%;
}

.block-9 {
    left: 40%;
}

.block-10 {
    left: 45%;
}

.block-11 {
    left: 50%;
}

.block-12 {
    left: 55%;
}

.block-13 {
    left: 60%;
}

.block-14 {
    left: 65%;
}

.block-15 {
    left: 70%;
}

.block-16 {
    left: 75%;
}

.block-17 {
    left: 80%;
}

.block-18 {
    left: 85%;
}

.block-19 {
    left: 90%;
}

.block-20 {
    left: 95%;
} */