.section {
    height: 100vh;
    /* background-color:chocolate ; */
  }

  .header {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-bottom: 60px;
  }
  
  .wrapper {
    // display: flex;
    // flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    // min-height: 80vh;
  }

  .imageWrap {
    height: 70vh;
    position: relative;
    width: 100%;
    clip-path: polygon(22% 15%, 78% 15%, 78% 60%, 22% 60%);
  }
  
  .wideImage {
    object-fit: cover;
    width: 100%;
    // height: 100% !important;
  }
  
  
  .headingWrapper {
    font-size: 4rem;
    margin: 0;
    line-height: 0.9;
    overflow: hidden;
  }
  
  .headingTitle {
    margin: 0;
    padding: 0;
    line-height: 0.9;
    display: inline-block;
  }
  
  .imageWrap {
    position: relative;
    width: 100%;
    clip-path: polygon(22% 15%, 78% 15%, 78% 60%, 22% 60%);
  }
  
  .heroImg {
    position: relative;
    width: 100%;
  }

// Mobile styles
  @media (max-width: 900px) {
    .proj_hero {
      // height: 100svh;
    }

    .imageWrap {
      // height:370px;
      min-height: 100%;
      height: 100%;
      position: relative;
      width: 100%;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  // @media (min-width: 780px) and (max-width: 1024px) {
  //   .imageWrap {
  //     // height: 50svh;
  //     height: 100%;
  //     position: relative;
  //     width: 100%;
  //     // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  //   }
  // }