.main {
  overflow: hidden;
}

#container {
  /* position: absolute;
  bottom: 0; */
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.hero-scroller {
  /* height: 150vh; */
  overflow: hidden;
  /* background-color: rgb(139, 189, 233); */
}
.here__img {
  background-image: url("../../../public/assets/images/Hero_image.jpg");
  background-position: center;
  background-size: cover;
}
.pin-wrapper {
  /* display: flex; */
  /* justify-content: center; */
}

.section {
  /* background: #e19f9f; */
  /* position: relative; */
  display: flex;
  /* min-height: 100vh; */
  /* padding: 20px; */
  /* justify-content: center; */
}

.copy {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.section-wrapper {
  /* max-width: 1200px; */
}

.content {
  width: 100%;
  /* max-width: 840px; */
  margin-right: auto;
  margin-left: auto;
}

/* .pin-wrapper {
  display: "flex"
} */

.bio_copy {
  /* font-size: 34px;
  line-height: 1.2em; */
}

.myTitle {
  /* white-space: nowrap; */
}

.experience__inner {
  width: 100%;
  flex-direction: column;
}
