:root {
  --bg: #0f0f0f;
  --text: #fff;
  --text-secondary: #555555;
  --text-darker: #2f2f2f;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 200;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Light.ttf) format("truetype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Book.ttf) format("truetype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "PP Neue Montreal";
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/PPNeueMontreal-Bold.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}



/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
/* lenis  end */



h1 {
  font-size: 6rem;
  line-height: 6.2rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  /* font-family: "PP Neue Montreal"; */
}
h2 {
  font-size: 5.5rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
h3 {
  font-size: 4.5rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
h4 {
  font-size: 3.5rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
h5 {
  font-size: 64;
  letter-spacing: -0.02em;
  line-height: 120%;
}
h6 {
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  line-height: 120%;
}
p {
  font-size: 1rem;
  letter-spacing: -0.02em;
  line-height: 120%;
  font-family: "PP Neue Montreal";
}
