@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html.lenis, html.lenis body {
  height: auto;
   /* color: var(--foreground); */
  /* background: #ECEBEB; */
  background: #ededed;
  font-family: "inter", Helvetica, sans-serif;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}



h1 {
  font-size: 6rem;
  font-family: "inter";
}
h2 {
  font-size: 5.5rem;
  font-family: "inter";
}
h3 {
  font-size: 4.5rem;
  font-family: "inter";
}
h4 {
  font-size: 4.5rem;
  font-family: "inter";
}
h5 {
  font-size: 64;
  font-family: "inter";
}
h6 {
  font-size: 1.5rem;
  font-family: "inter";
}
p {
  font-size: 1rem;
  font-family: "inter";
}
