/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./public/fonts/stylesheet.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/

/* Monument Extended Ultralight */
@font-face {
    font-family: 'Monument Extended Ultralight';
    src: url(/_next/static/media/MonumentExtended-Ultralight.ac5a9f64.eot);
    src: url(/_next/static/media/MonumentExtended-Ultralight.ac5a9f64.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/MonumentExtended-Ultralight.60ce5f7f.woff2) format('woff2'),
        url(/_next/static/media/MonumentExtended-Ultralight.b04973f6.woff) format('woff'),
        url(/_next/static/media/MonumentExtended-Ultralight.416ab3b2.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
/* MonumentExtended-Regular */
@font-face {
    font-family: 'MonumentExtended-Regular';
    src: url(/_next/static/media/MonumentExtended-Regular.f5a5e61d.eot);
    src: url(/_next/static/media/MonumentExtended-Regular.f5a5e61d.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/MonumentExtended-Regular.d6b3ec2f.woff2) format('font-woff2'),
        url(/_next/static/media/MonumentExtended-Regular.d508a8f7.woff) format('font-woff'),
        url(/_next/static/media/MonumentExtended-Regular.677aa07d.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* MonumentExtended-Light */
@font-face {
    font-family: 'Monument Extended Light';
    src: url(/_next/static/media/MonumentExtended-Light.3f72501f.eot);
    src: url(/_next/static/media/MonumentExtended-Light.3f72501f.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/MonumentExtended-Light.59490599.woff2) format('font-woff2'),
        url(/_next/static/media/MonumentExtended-Light.c5c73506.woff) format('font-woff'),
        url(/_next/static/media/MonumentExtended-Light.e2349de0.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* MonumentExtended-Bold */
@font-face {
    font-family: 'MonumentExtended-Bold';
    src: url(/_next/static/media/MonumentExtended-Bold.3997dda5.eot);
    src: url(/_next/static/media/MonumentExtended-Bold.3997dda5.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/MonumentExtended-Bold.573939d1.woff2) format('font-woff2'),
        url(/_next/static/media/MonumentExtended-Bold.5503f7ed.woff) format('font-woff'),
        url(/_next/static/media/MonumentExtended-Bold.0b593214.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended Ultrabold';
    src: url(/_next/static/media/MonumentExtended-Ultrabold.07ec43cb.eot);
    src: url(/_next/static/media/MonumentExtended-Ultrabold.07ec43cb.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/MonumentExtended-Ultrabold.b7917cd9.woff2) format('font-woff2'),
        url(/_next/static/media/MonumentExtended-Ultrabold.11d67a7f.woff) format('font-woff'),
        url(/_next/static/media/MonumentExtended-Ultrabold.a14b7aed.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* CircularStd  font face*/


@font-face {
    font-family: 'Circular Std';
    src: url(/_next/static/media/CircularStd-Medium.429d4b0e.eot);
    src: url(/_next/static/media/CircularStd-Medium.429d4b0e.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/CircularStd-Medium.625321fc.woff2) format('font-woff2'),
        url(/_next/static/media/CircularStd-Medium.0618283d.woff) format('font-woff'),
        url(/_next/static/media/CircularStd-Medium.facb2a7f.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url(/_next/static/media/CircularSpotifyText-Light.f94fedb4.eot);
    src: url(/_next/static/media/CircularSpotifyText-Light.f94fedb4.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/CircularSpotifyText-Light.452bcd6b.woff2) format('font-woff2'),
        url(/_next/static/media/CircularSpotifyText-Light.238f65b4.woff) format('font-woff'),
        url(/_next/static/media/CircularSpotifyText-Light.d10dd0ec.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd-Book';
    src: url(/_next/static/media/CircularStd-Book.a039f99d.eot);
    src: url(/_next/static/media/CircularStd-Book.a039f99d.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/CircularStd-Book.7f9ed41a.woff2) format('font-woff2'),
        url(/_next/static/media/CircularStd-Book.04c90e7d.woff) format('font-woff'),
        url(/_next/static/media/CircularStd-Book.2b7c7e7d.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url(/_next/static/media/CircularStd-Bold.be85ef9e.eot);
    src: url(/_next/static/media/CircularStd-Bold.be85ef9e.eot?#iefix) format('embedded-opentype'),
        url(/_next/static/media/CircularStd-Bold.5c8b02cb.woff2) format('font-woff2'),
        url(/_next/static/media/CircularStd-Bold.f4e102c1.woff) format('font-woff'),
        url(/_next/static/media/CircularStd-Bold.bdb31284.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*!**************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./styles/globals.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************/
/*
! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container{
  width: 100%;
}
@media (min-width: 600px){
  .container{
    max-width: 600px;
  }
}
@media (min-width: 728px){
  .container{
    max-width: 728px;
  }
}
@media (min-width: 984px){
  .container{
    max-width: 984px;
  }
}
@media (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}
@media (min-width: 1496px){
  .container{
    max-width: 1496px;
  }
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.top-0{
  top: 0px;
}
.-top-5{
  top: -1.25rem;
}
.-top-12{
  top: -3rem;
}
.-top-24{
  top: -6rem;
}
.bottom-5{
  bottom: 1.25rem;
}
.z-10{
  z-index: 10;
}
.z-50{
  z-index: 50;
}
.z-30{
  z-index: 30;
}
.z-20{
  z-index: 20;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-\[60px\]{
  margin-top: 60px;
  margin-bottom: 60px;
}
.mx-10{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.my-20{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mb-\[60px\]{
  margin-bottom: 60px;
}
.mb-5{
  margin-bottom: 1.25rem;
}
.mt-\[8px\]{
  margin-top: 8px;
}
.-mt-2{
  margin-top: -0.5rem;
}
.mt-\[50px\]{
  margin-top: 50px;
}
.mb-20{
  margin-bottom: 5rem;
}
.ml-5{
  margin-left: 1.25rem;
}
.flex{
  display: flex;
}
.table{
  display: table;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.h-full{
  height: 100%;
}
.h-screen{
  height: 100vh;
}
.h-\[400px\]{
  height: 400px;
}
.h-5{
  height: 1.25rem;
}
.h-\[285px\]{
  height: 285px;
}
.h-\[42px\]{
  height: 42px;
}
.h-\[328px\]{
  height: 328px;
}
.h-\[360px\]{
  height: 360px;
}
.h-4{
  height: 1rem;
}
.h-24{
  height: 6rem;
}
.h-\[30px\]{
  height: 30px;
}
.h-\[780px\]{
  height: 780px;
}
.h-\[36px\]{
  height: 36px;
}
.h-\[300px\]{
  height: 300px;
}
.h-6{
  height: 1.5rem;
}
.h-\[24px\]{
  height: 24px;
}
.h-fit{
  height: -moz-fit-content;
  height: fit-content;
}
.h-\[40px\]{
  height: 40px;
}
.h-\[44px\]{
  height: 44px;
}
.min-h-screen{
  min-height: 100vh;
}
.min-h-\[70vh\]{
  min-height: 70vh;
}
.min-h-\[400px\]{
  min-height: 400px;
}
.w-full{
  width: 100%;
}
.w-11\/12{
  width: 91.666667%;
}
.w-3\/12{
  width: 25%;
}
.w-6\/12{
  width: 50%;
}
.w-\[42px\]{
  width: 42px;
}
.w-2\/12{
  width: 16.666667%;
}
.w-1\/3{
  width: 33.333333%;
}
.w-4{
  width: 1rem;
}
.w-px{
  width: 1px;
}
.w-\[30px\]{
  width: 30px;
}
.w-\[50px\]{
  width: 50px;
}
.w-10\/12{
  width: 83.333333%;
}
.w-\[387px\]{
  width: 387px;
}
.w-\[36px\]{
  width: 36px;
}
.w-\[400px\]{
  width: 400px;
}
.w-6{
  width: 1.5rem;
}
.w-max{
  width: -moz-max-content;
  width: max-content;
}
.w-\[24px\]{
  width: 24px;
}
.w-\[40px\]{
  width: 40px;
}
.w-\[44px\]{
  width: 44px;
}
.min-w-\[50px\]{
  min-width: 50px;
}
.min-w-\[166px\]{
  min-width: 166px;
}
.max-w-screen-xl{
  max-width: 1280px;
}
.max-w-lg{
  max-width: 32rem;
}
.max-w-6xl{
  max-width: 72rem;
}
.max-w-\[280px\]{
  max-width: 280px;
}
.max-w-\[220px\]{
  max-width: 220px;
}
.flex-auto{
  flex: 1 1 auto;
}
.flex-1{
  flex: 1 1 0%;
}
.flex-\[10\]{
  flex: 10;
}
.flex-\[2\]{
  flex: 2;
}
.grow{
  flex-grow: 1;
}
.-rotate-90{
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-90{
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@keyframes ping{
  75%, 100%{
    transform: scale(2);
    opacity: 0;
  }
}
.animate-ping{
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.cursor-pointer{
  cursor: pointer;
}
.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-start{
  align-items: flex-start;
}
.items-center{
  align-items: center;
}
.items-stretch{
  align-items: stretch;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-16{
  gap: 4rem;
}
.gap-10{
  gap: 2.5rem;
}
.gap-5{
  gap: 1.25rem;
}
.gap-4{
  gap: 1rem;
}
.gap-8{
  gap: 2rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-x-5{
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.gap-y-20{
  row-gap: 5rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.self-center{
  align-self: center;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.overflow-y-scroll{
  overflow-y: scroll;
}
.truncate{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-nowrap{
  white-space: nowrap;
}
.rounded-2xl{
  border-radius: 1rem;
}
.rounded-\[18px\]{
  border-radius: 18px;
}
.rounded-full{
  border-radius: 9999px;
}
.rounded-md{
  border-radius: 0.375rem;
}
.rounded{
  border-radius: 0.25rem;
}
.rounded-xl{
  border-radius: 0.75rem;
}
.rounded-b-\[24px\]{
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}
.border{
  border-width: 1px;
}
.border-b{
  border-bottom-width: 1px;
}
.border-gray2{
  --tw-border-opacity: 1;
  border-color: rgb(222 230 241 / var(--tw-border-opacity));
}
.border-\[\#F4F4F5\]{
  --tw-border-opacity: 1;
  border-color: rgb(244 244 245 / var(--tw-border-opacity));
}
.border-b-slate-100{
  --tw-border-opacity: 1;
  border-bottom-color: rgb(241 245 249 / var(--tw-border-opacity));
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-fuchsia-200{
  --tw-bg-opacity: 1;
  background-color: rgb(245 208 254 / var(--tw-bg-opacity));
}
.bg-teal-500{
  --tw-bg-opacity: 1;
  background-color: rgb(20 184 166 / var(--tw-bg-opacity));
}
.bg-slate-400{
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}
.bg-purple-200{
  --tw-bg-opacity: 1;
  background-color: rgb(233 213 255 / var(--tw-bg-opacity));
}
.bg-green{
  --tw-bg-opacity: 1;
  background-color: rgb(128 224 167 / var(--tw-bg-opacity));
}
.bg-slate-200{
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.bg-slate-300{
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
}
.bg-amber-300{
  --tw-bg-opacity: 1;
  background-color: rgb(252 211 77 / var(--tw-bg-opacity));
}
.bg-amber-200{
  --tw-bg-opacity: 1;
  background-color: rgb(253 230 138 / var(--tw-bg-opacity));
}
.bg-red-300{
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
}
.bg-green\/10{
  background-color: rgb(128 224 167 / 0.1);
}
.bg-blue-500{
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
.bg-red-400{
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}
.bg-green\/20{
  background-color: rgb(128 224 167 / 0.2);
}
.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(33 35 34 / var(--tw-bg-opacity));
}
.bg-white\/50{
  background-color: rgb(255 255 255 / 0.5);
}
.bg-gradient-to-br{
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.from-indigo-50{
  --tw-gradient-from: #eef2ff;
  --tw-gradient-to: rgb(238 242 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.via-white{
  --tw-gradient-to: rgb(255 255 255 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), #ffffff, var(--tw-gradient-to);
}
.to-cyan-100{
  --tw-gradient-to: #cffafe;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.p-5{
  padding: 1.25rem;
}
.p-\[5px\]{
  padding: 5px;
}
.p-10{
  padding: 2.5rem;
}
.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-32{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-\[106px\]{
  padding-top: 106px;
  padding-bottom: 106px;
}
.py-10{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-\[13px\]{
  padding-top: 13px;
  padding-bottom: 13px;
}
.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}
.pt-\[134px\]{
  padding-top: 134px;
}
.pb-\[10px\]{
  padding-bottom: 10px;
}
.pr-2{
  padding-right: 0.5rem;
}
.pl-2{
  padding-left: 0.5rem;
}
.pr-4{
  padding-right: 1rem;
}
.pt-2{
  padding-top: 0.5rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.font-body{
  font-family: "Circular Std", Helvetica, Arial, sans-serif;
}
.font-display{
  font-family: "Monument Extended", Helvetica, Arial, sans-serif;
}
.text-\[24px\]{
  font-size: 24px;
}
.text-\[52px\]{
  font-size: 52px;
}
.text-\[34px\]{
  font-size: 34px;
}
.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-\[25px\]{
  font-size: 25px;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-\[44px\]{
  font-size: 44px;
}
.text-\[14px\]{
  font-size: 14px;
}
.text-\[18px\]{
  font-size: 18px;
}
.text-\[40px\]{
  font-size: 40px;
}
.text-6xl{
  font-size: 3.75rem;
  line-height: 1;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-\[16px\]{
  font-size: 16px;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-normal{
  font-weight: 400;
}
.font-bold{
  font-weight: 700;
}
.font-light{
  font-weight: 300;
}
.font-semibold{
  font-weight: 600;
}
.font-medium{
  font-weight: 500;
}
.uppercase{
  text-transform: uppercase;
}
.leading-120{
  line-height: 120%;
}
.leading-6{
  line-height: 1.5rem;
}
.leading-none{
  line-height: 1;
}
.text-black{
  --tw-text-opacity: 1;
  color: rgb(33 35 34 / var(--tw-text-opacity));
}
.text-green{
  --tw-text-opacity: 1;
  color: rgb(128 224 167 / var(--tw-text-opacity));
}
.text-slate-400{
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.text-gray{
  --tw-text-opacity: 1;
  color: rgb(186 195 209 / var(--tw-text-opacity));
}
.text-forestGreen{
  --tw-text-opacity: 1;
  color: rgb(28 66 32 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.backdrop-blur-xl{
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-\[flex\]{
  transition-property: flex;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300{
  transition-duration: 300ms;
}
.duration-700{
  transition-duration: 700ms;
}
.duration-\[0\.8s\]{
  transition-duration: 0.8s;
}
.duration-\[0\.7s\]{
  transition-duration: 0.7s;
}
.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

/* @font-face {
    font-family: 'MonumentExtended';
} */

html :-webkit-scrollbar {
  /* .scrollbar-hidden::-webkit-scrollbar {
  } */
  display: none;
}

h1 {
  font-family: "MonumentExtended-Bold", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-weight: regular;
  font-size: 62px;
}
h2 {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  /* letter-spacing: .05em */
  font-size: 54px;
}
h3 {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-size: 44px;
}
h4 {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-size: 37px;
}
h5 {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-size: 31px;
}
h6 {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-size: 25px;
}
p,
.header-nav-item a .menuItems {
  font-family: "CircularStd-Book", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 16px;
}

.subheader {
  font-family: "MonumentExtended-Regular", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  /* letter-spacing: .05em */
}

.sectionTitle {
  -moz-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.sectionCards {
  gap: 10px;
  display: grid;
  grid-row: 1;
}

.sectionItem {
  gap: 10px;
  display: grid;
  grid-row: 1;
}
.sectionCardsdd {
  gap: 10px;
}

/* main on every page*/
.navButtonLink {
  -moz-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

.UltralightFontSize {
  font-family: "Monument Extended Ultralight", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
  font-weight: regular;
  /* letter-spacing: .05em */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  /* background: var(--red); */
  transform-origin: 0%;
}

.background {
  display: flex;
  position: absolute;
  bottom: 0px;
  padding-top: 20px;
  /* left: 0; */
  align-self: center;
  width: 238px;
  height: 400px;
  /* background: rgb(255, 255, 255); */
  justify-content: center;
  /* align-items: center; */
  border-radius: 10px;
  border: 1px solid #DEE6F1;
}

button .menuToggle {
  border: 1px solid #DEE6F1;
  /* outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; */
  /* cursor: pointer; */
  /* position: absolute; */
  /* top: 18px;
  left: 15px; */
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
  /* align-self: center; */
  /* background: transparent; */
}

@keyframes bounce{
  0%, 100%{
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50%{
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.hover\:animate-bounce:hover{
  animation: bounce 1s infinite;
}

.hover\:border-green:hover{
  --tw-border-opacity: 1;
  border-color: rgb(128 224 167 / var(--tw-border-opacity));
}

.hover\:bg-black\/50:hover{
  background-color: rgb(33 35 34 / 0.5);
}

.hover\:bg-green:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(128 224 167 / var(--tw-bg-opacity));
}

.hover\:bg-blue-700:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.hover\:bg-red-500:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.hover\:px-16:hover{
  padding-left: 4rem;
  padding-right: 4rem;
}

.hover\:pl-16:hover{
  padding-left: 4rem;
}

.hover\:pr-16:hover{
  padding-right: 4rem;
}

.hover\:text-base:hover{
  font-size: 1rem;
  line-height: 1.5rem;
}

.hover\:font-bold:hover{
  font-weight: 700;
}

.hover\:tracking-\[5px\]:hover{
  letter-spacing: 5px;
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:text-green:hover{
  --tw-text-opacity: 1;
  color: rgb(128 224 167 / var(--tw-text-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.group:hover .group-hover\:translate-x-2{
  --tw-translate-x: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.dark .dark\:bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(33 35 34 / var(--tw-bg-opacity));
}

.dark .dark\:bg-\[\#313332\]{
  --tw-bg-opacity: 1;
  background-color: rgb(49 51 50 / var(--tw-bg-opacity));
}

.dark .dark\:bg-\[\#2c2c2c\]{
  --tw-bg-opacity: 1;
  background-color: rgb(44 44 44 / var(--tw-bg-opacity));
}

.dark .dark\:bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.dark .dark\:text-green{
  --tw-text-opacity: 1;
  color: rgb(128 224 167 / var(--tw-text-opacity));
}

.dark .dark\:text-slate-300{
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

.dark .dark\:text-yellow-500{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

@media (min-width: 640px){
  .sm\:hidden{
    display: none;
  }
  .sm\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .sm\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .sm\:text-\[14px\]{
    font-size: 14px;
  }
}

@media (min-width: 768px){
  .md\:my-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .md\:mb-0{
    margin-bottom: 0px;
  }
  .md\:block{
    display: block;
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:flex-row{
    flex-direction: row;
  }
  .md\:pt-20{
    padding-top: 5rem;
  }
  .md\:text-\[64px\]{
    font-size: 64px;
  }
}

@media (min-width: 1024px){
  .lg\:mb-0{
    margin-bottom: 0px;
  }
  .lg\:ml-10{
    margin-left: 2.5rem;
  }
  .lg\:flex{
    display: flex;
  }
  .lg\:hidden{
    display: none;
  }
  .lg\:h-\[64px\]{
    height: 64px;
  }
  .lg\:w-10\/12{
    width: 83.333333%;
  }
  .lg\:w-1\/2{
    width: 50%;
  }
  .lg\:w-9\/12{
    width: 75%;
  }
  .lg\:w-6\/12{
    width: 50%;
  }
  .lg\:w-8\/12{
    width: 66.666667%;
  }
  .lg\:w-\[64px\]{
    width: 64px;
  }
  .lg\:max-w-\[260px\]{
    max-width: 260px;
  }
  .lg\:flex-\[6\.5\]{
    flex: 6.5;
  }
  .lg\:flex-\[0\.5\]{
    flex: 0.5;
  }
  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:flex-row{
    flex-direction: row;
  }
  .lg\:justify-end{
    justify-content: flex-end;
  }
  .lg\:justify-center{
    justify-content: center;
  }
  .lg\:gap-5{
    gap: 1.25rem;
  }
  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .lg\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .lg\:pb-10{
    padding-bottom: 2.5rem;
  }
  .lg\:text-left{
    text-align: left;
  }
  .lg\:text-\[52px\]{
    font-size: 52px;
  }
  .lg\:text-\[54px\]{
    font-size: 54px;
  }
  .lg\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
  .lg\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .lg\:text-9xl{
    font-size: 8rem;
    line-height: 1;
  }
  .lg\:text-\[20px\]{
    font-size: 20px;
  }
  .lg\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg\:text-\[44px\]{
    font-size: 44px;
  }
}

@media (min-width: 1280px){
  .xl\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1536px){
  .\32xl\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
