.buttonPill {
  display: flex;
}
.button-pil::before {
  content: "";
  background: #000;
  transition: ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.button-pil:hover::before {
  content: "";
  background: #000;
  transition: ease-in-out;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
