
.UltralightFontSize {
  font-family: 'Monument Extended Ultralight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-weight: regular;
  /* letter-spacing: .05em */
}

.svg-elem-1 {
  animation-delay: 0.1s;
  stroke-dashoffset: 541.6063842773438px;
  stroke-dasharray: 541.6063842773438px;
  -webkit-transition: stroke-dashoffset 1s ease 0s;
          transition: stroke-dashoffset 1s ease 0s;
}
svg .svg-elem-1 {
  background-color: red;
  stroke-dashoffset: 541.6063842773438px;
  stroke-dasharray: 541.6063842773438px;
  -webkit-transition: stroke-dashoffset 1s ease 0s;
          transition: stroke-dashoffset 1s ease 0s;
}

/* .wufoo-letter {
  animation: kaboom 5s ease alternate infinite;

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &:nth-child(4) {
    animation-delay: 0.3s;
  }

  &:nth-child(5) {
    animation-delay: 0.4s;
  }
} */

@keyframes kaboom {
  90% {
    transform: scale(1.0);
  }

  100% {
    transform: scale(1.1);
  }
}