.project {
    /* border-top: 2px solid black; */
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    cursor: pointer;
    // width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  
  .project p {
    font-size: 5vw;
    margin: 0px;
  }
  
  /* .project:last-of-type{
      border-bottom: 2px solid black;
  } */
  .project .imgContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 0;
  }
  .project img {
    width: 10vw;
  }
  
  @media screen and (max-width: 640px) {
    .project img {
      width: 20vw;
    }
    .project {
      padding-top: 4vw;
      padding-bottom: 4vw;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    
    .project p {
      font-size: 2.5rem;
      margin: 0px;
    }
  }
  