.link {
    cursor: pointer;
    
    &::after {
      content: "";
      width: 0%;
      height: 1px;
      background-color: rgb(20, 20, 20);
      display: block;
      margin-top: 2px;
      position: relative;
      left: 0;
      transition: width 0.3s ease-in, left 0.3s ease-in;
    }
  
    &:hover::after {
      width: 100%;
      left: 0; /* Reset to start from left */
      transition: width 0.4s ease-out; /* Faster fill effect */
    }
  
    &:not(:hover)::after {
      width: 0%;
      right: 0; /* Moves to end position */
      transition: width 0.3s ease-in, left 0.3s ease-in;
    }
  }
