@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Ultralight.eot');
    src: url('MonumentExtended-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('MonumentExtended-Ultralight.woff2') format('woff2'),
        url('MonumentExtended-Ultralight.woff') format('woff'),
        url('MonumentExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Regular.eot');
    src: url('MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('MonumentExtended-Regular.woff2') format('woff2'),
        url('MonumentExtended-Regular.woff') format('woff'),
        url('MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Light.eot');
    src: url('MonumentExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('MonumentExtended-Light.woff2') format('woff2'),
        url('MonumentExtended-Light.woff') format('woff'),
        url('MonumentExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Bold.eot');
    src: url('MonumentExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('MonumentExtended-Bold.woff2') format('woff2'),
        url('MonumentExtended-Bold.woff') format('woff'),
        url('MonumentExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('MonumentExtended-Ultrabold.eot');
    src: url('MonumentExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('MonumentExtended-Ultrabold.woff') format('woff'),
        url('MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Medium.woff2') format('woff2'),
        url('CircularStd-Medium.woff') format('woff'),
        url('CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularSpotifyText-Light.eot');
    src: url('CircularSpotifyText-Light.eot?#iefix') format('embedded-opentype'),
        url('CircularSpotifyText-Light.woff2') format('woff2'),
        url('CircularSpotifyText-Light.woff') format('woff'),
        url('CircularSpotifyText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('CircularStd-Book.eot');
    src: url('CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Book.woff2') format('woff2'),
        url('CircularStd-Book.woff') format('woff'),
        url('CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Bold.eot');
    src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('CircularStd-Bold.woff2') format('woff2'),
        url('CircularStd-Bold.woff') format('woff'),
        url('CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

