// // img {
// //     -webkit-clip-path: url(#myClip);
// //     clip-path: url(#myClip);
// //     // width: 400px;
// //   }

// //   .wavy-hero {
// //     -webkit-clip-path: url(#wavy-clip-path);
// //     clip-path: url(#wavy-clip-path);
// // }

.image-container {
    position: relative;
  }
  
  .clipped-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Make sure both images overlap exactly */
  }
  
  .clipped-image-1 {
    -webkit-clip-path: url(#myClip1);
    clip-path: url(#myClip1);
    mask-position: 50px 100px;
  }
  
  .clipped-image-2 {
    -webkit-clip-path: url(#myClip2);
    clip-path: url(#myClip2);
  }

  .svg_container {
    display: block; /* Or use flex depending on your needs */
    position: relative; /* If using absolute positioning inside */
    width: 100%; /* Or set a custom width/height */
    height: auto; /* Adjust depending on your needs */
  }

  .svg_container svg {
    display: none; /* or */
    width: 0;
    height: 0;
  }

  .flex {
    display: flex;
    flex-direction: column; /* Or row depending on your layout */
    align-items: center; /* Centering SVG container horizontally */
    justify-content: center; /* Centering vertically */
  }