.imgContainer {
background: #000;
}

.profile_img {
  height: 100%;
  object-fit: cover;
  transform-origin: left;
}
.reveal_overlay {
  // visibility: hidden;
  position: absolute;
  width: 100%;
  height: 547px;
  overflow: hidden;
  // transform-origin: top;
}
