@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Monument Extended';
    src: url('../public/fonts/MonumentExtended-Ultralight.eot');
    src: url('../public/fonts/MonumentExtended-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/MonumentExtended-Ultralight.woff2') format('woff2'),
        url('../public/fonts/MonumentExtended-Ultralight.woff') format('woff'),
        url('../public/fonts/MonumentExtended-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../public/fonts/MonumentExtended-Regular.eot');
    src: url('../public/fonts/MonumentExtended-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/MonumentExtended-Regular.woff2') format('woff2'),
        url('../public/fonts/MonumentExtended-Regular.woff') format('woff'),
        url('../public/fonts/MonumentExtended-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../public/fonts/MonumentExtended-Light.eot');
    src: url('../public/fonts/MonumentExtended-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/MonumentExtended-Light.woff2') format('woff2'),
        url('../public/fonts/MonumentExtended-Light.woff') format('woff'),
        url('../public/fonts/MonumentExtended-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../public/fonts/MonumentExtended-Bold.eot');
    src: url('../public/fonts/MonumentExtended-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/MonumentExtended-Bold.woff2') format('woff2'),
        url('../public/fonts/MonumentExtended-Bold.woff') format('woff'),
        url('../public/fonts/MonumentExtended-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../public/fonts/MonumentExtended-Ultrabold.eot');
    src: url('../public/fonts/MonumentExtended-Ultrabold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('../public/fonts/MonumentExtended-Ultrabold.woff') format('woff'),
        url('../public/fonts/MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* CircularStd  font face*/
@font-face {
    font-family: 'Circular Std';
    src: url('../public/fonts/CircularStd-Medium.eot');
    src: url('../public/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../public/fonts/CircularStd-Medium.woff') format('woff'),
        url('../public/fonts/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../public/fonts/CircularSpotifyText-Light.eot');
    src: url('../public/fonts/CircularSpotifyText-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/CircularSpotifyText-Light.woff2') format('woff2'),
        url('../public/fonts/CircularSpotifyText-Light.woff') format('woff'),
        url('../public/fonts/CircularSpotifyText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std Book';
    src: url('../public/fonts/CircularStd-Book.eot');
    src: url('../public/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/CircularStd-Book.woff2') format('woff2'),
        url('../public/fonts/CircularStd-Book.woff') format('woff'),
        url('../public/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../public/fonts/CircularStd-Bold.eot');
    src: url('../public/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../public/fonts/CircularStd-Bold.woff') format('woff'),
        url('../public/fonts/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}






/* @font-face {
    font-family: 'MonumentExtended';
    src: url(https://github.com/Ericnsamba/ericandtheweb/blob/main/public/assets/fonts/MonumentExtended-Bold.ttf?raw=true);
} */
h1 {
    font-family: 'Monument Extended' !important;
    font-weight: bold;
    letter-spacing: .05em
}
h2, h3, h4 {
    font-family: 'Monument Extended' !important;
    letter-spacing: .05em
}
p, .header-nav-item a .menuItems {
    font-family: 'Circular Std Book' !important;
}
.subheader {
    font-family: 'Monument Extended' !important;
    letter-spacing: .05em
}




/* main on every page*/
.mainbody {
    flex: 1;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cursor {
    /* cursor: none !important;	 */
    /* cursor: url('../public/vercel.svg'), auto;	 */
    width: 10px;
    height: 10px;
    /* border: 1px solid rgb(209, 53, 53); */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background-color: #80E0A7;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid #80E0A7;
    border-radius: 50%;
    opacity: .6;
    top: -9px;
    left: -9px;
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim 0.8s forwards;
}