@import url('/fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'MonumentExtended';
    src: url('../public//assets//fonts/MonumentExtended-Regular.ttf');
}
@font-face {
    font-family: 'CircularStd';
    src: url('../public//assets/fonts/CircularStd-Book.otf');
}
@font-face {
    font-family: 'NeoRetroFill';
    src: url(https://static1.squarespace.com/static/5f1b9f2f34c4503c6738c796/t/5fecc0efcd896d745924ab9b/1609351407792/NEORF___-webfont.woff);
}
h1 {
    font-family: 'MonumentExtended' !important;
    font-weight: bold;
    /* letter-spacing: .05em */
}
h2 {
    font-family: 'MonumentExtended' !important;
}
h3, h4, p, .header-nav-item a {
    font-family: 'CircularStd' !important;
}
.subheader {
    font-family: 'MonumentExtended' !important;
}




/* main on every page*/
.mainbody {
    flex: 1;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cursor {
    /* cursor: none !important;	 */
    /* cursor: url('../public/vercel.svg'), auto;	 */
    width: 10px;
    height: 10px;
    /* border: 1px solid rgb(209, 53, 53); */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background-color: #80E0A7;
}

.cursor::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    border: 2px solid #80E0A7;
    border-radius: 50%;
    opacity: .6;
    top: -9px;
    left: -9px;
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim 0.8s forwards;
}