

.main {
  overflow: hidden;
}

.hero-scroller {
  /* height: 120vh; */
  overflow: hidden;
}
.pin-wrapper {
    /* display: flex; */
    /* justify-content: center; */
}

.section {
  position: relative;
  display: flex;
  min-height: 100vh;
  padding: 40px;
  justify-content: center;
}

.copy {
  /* background: #d4cfc0; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border-radius: 20px; */
}

.section-wrapper {
  max-width: 1200px;
}

.content {
  width: 100%;
  /* max-width: 840px; */
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 64px;
  /* font-weight: 400; */
  /* line-height: 10vh; */
  /* margin: 0px; */
}

.image-wrapper {
  position: relative;
  overflow: hidden;
  /* width: 50%; */
  padding-top: 50%;
  /* height: 362px; */
  /* display: flex;
  justify-content: center;
  align-self: center; */
  border-radius: 20px;
}

.image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-size: 24px;
  line-height: 1.2em;
}

.myTitle {
  white-space: nowrap;
}

.marquee__inner {
  width: 60vw;
}


.containerHorizontal {
  width: 400vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.right__col {
  display: flex;
  flex-direction: column;
}

.panel {
  width: 50vw ;
  height: 20vh;
}
.red {
  background: blue;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.blue {
  background-color: blue;
}
